name: Build ETISS

on:
  repository_dispatch:
    types: [s4e_cdl_event, seal5-event]
#push:
 #   branches: [ "master" ]
 # pull_request:
 #   branches: [ "master" ]

env:
  BUILD_TYPE: Release

jobs:
  setup-run-M2ISAR:
    runs-on: ubuntu-22.04
    
    steps:
    - name: Install dependencies
      run: |
        sudo apt-get update
        pip install virtualenv
    
    - name: Setup M2-ISA-R
      run: |
       git clone https://github.com/kebi-be/riscv-coredsl-extensions-1.git --branch etiss --recursive
       git clone https://github.com/tum-ei-eda/etiss_arch_riscv.git --recursive --branch coredsl_exceptions
       git clone https://github.com/tum-ei-eda/M2-ISA-R.git --branch coredsl2
       cd M2-ISA-R
       virtualenv -p python3.10 venv  #Alternative (requires `apt install python3-venv`): python3 -m venv venv
       source venv/bin/activate
       pip install -e .
      
    - name: Run M2-ISA-R
      run: |
        cd M2-ISA-R
        source venv/bin/activate
        python -m m2isar.frontends.coredsl2.parser ../riscv-coredsl-extensions-1/etiss-s4e-mac.core_desc
        python -m m2isar.backends.etiss.writer ../riscv-coredsl-extensions-1/gen_model/etiss-s4e-mac.m2isarmodel --separate --static-scalars
       
    - name: Upload M2ISAR Model artifacts
      uses: actions/upload-artifact@v4
      with:
         name: m2isar-model-files
         path: |
           riscv-coredsl-extensions-1/gen_output
            
  patch-etiss-arch:
    runs-on: ubuntu-22.04
    needs: [setup-run-M2ISAR]
    steps:   
    - run: |
        pwd
    - name: Download Patched Etiss
      uses: actions/download-artifact@v4
      with:
        name: m2isar-model-files
        github-token: ${{ secrets.REPO_ACCESS_TOKEN }}
       
    - uses: actions/checkout@v4
      with:
        path: etiss_source
        ref: coverage
        
    - run: |
       pwd
       cp -r etiss-s4e-mac/* etiss_source/ArchImpl/
       cd etiss_source
       cp ArchImpl/RV32IMACFD/RV32IMACFDArchSpecificImp.cpp ArchImpl/RV32IMCXS4EMAC/RV32IMCXS4EMACArchSpecificImp.cpp
       sed -i "s/RV32IMACFD/RV32IMCXS4EMAC/g" ArchImpl/RV32IMCXS4EMAC/RV32IMCXS4EMACArchSpecificImp.cpp
       git config --global user.email "bewoayia.kebianyor@dlr.de"
       git config --global user.name "Bewoayia Kebianyor"
       git add --all
       git commit -m 'update etiss architectures'
       
    - name: Upload M2ISAR Model artifacts
      uses: actions/upload-artifact@v4
      with:
         name: patched_etiss
         path: |
           etiss_source
           
  build-etiss:
    runs-on: ubuntu-22.04
    needs: [patch-etiss-arch]
    steps:
    - name: Install Build Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libboost-filesystem-dev libboost-program-options-dev \
          llvm-11-dev libclang-11-dev clang-11

    - name: Download Patched Etiss
      uses: actions/download-artifact@v4
      with:
        name: patched_etiss
        github-token: ${{ secrets.REPO_ACCESS_TOKEN }}
        path: etiss_source
      
    - name: CMake config
      run: |
        cmake -B etiss_build -S etiss_source -DCMAKE_INSTALL_PREFIX=etiss_prebuilt -DCMAKE_BUILD_TYPE=$BUILD_TYPE
        
    - name: CMake build
      run: |
        cmake --build etiss_build -j$(nproc)
        
    - name: CMake install
      run: |
        cmake --build etiss_build --target install
        
    - name: Upload compiled ETISS
      uses: actions/upload-artifact@v4
      with:
        name: etiss_prebuilt
        path: etiss_prebuilt   

    
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Download Pre-built ETISS Artifact
      uses: actions/download-artifact@v4
      with:
        name: etiss_prebuilt
        github-token: ${{ secrets.REPO_ACCESS_TOKEN }}
        path: etiss_prebuilt

    - name: Download Pre-built Seal5
      uses: actions/download-artifact@v4
      with:
        name: demo-export
        github-token: ${{ secrets.REPO_ACCESS_TOKEN }}   
        repository: kebi-be/seal5
        path: seal5_prebuilt
        run-id: 10578440700
        
    - name: Download Cached GCC Binaries
      id: cache-gcc
      uses: actions/cache@v4
      env:
        cache-name: cache-gcc-binaries
      with:
        path: ./gnu
        key: gcc-binaries-${{ steps.date.outputs.date }}
        restore-keys: |
          gcc-binaries-
            
    - if: ${{ steps.cache-gcc.outputs.cache-hit != 'true' }}       
      name: Download RISCV-GNU-Toolchain   
      run: |
         wget https://syncandshare.lrz.de/dl/fi2p5Ds5PHktjmZGKzR9tx/GCC/default/2023.09.27/Ubuntu/22.04/rv32imc_ilp32.tar.xz
         tar xvf rv32imc_ilp32.tar.xz
         rm rv32imc_ilp32.tar.xz
         ls -al
         pwd
    
    - name: Build ETISS RISCV Examples for Testing
      run: |
        pwd
        sudo apt -qq install -y build-essential make clang g++ git cmake libboost-system-dev libboost-filesystem-dev libboost-program-options-dev
        git clone https://github.com/kebi-be/etiss_riscv_examples_s4emac.git --branch s4emac --recursive
        RISCV_GCC_PREFIX=/home/runner/work/etiss_wysiwyng/etiss_wysiwyng/gnu
        RISCV_GCC_NAME=riscv32-unknown-elf
        ARCH=rv32imc
        ETISS_ARCH=RV32IMACFD
        PROG=hello_world
        ABI=ilp32
        ls seal5_prebuilt
        export PATH=$RISCV_GCC_PREFIX/bin/:seal5_prebuilt/bin/:$PATH 
        echo $PATH
        pwd
        ls -al
        cd gnu
        pwd
        ls -al 
        cd ..
        cd etiss_riscv_examples_s4emac
        cd target_code/embench
        git clone https://github.com/embench/embench-iot.git
        cd embench-iot && git checkout 54fd9a0f10aabc662991567ca19ff3e61bfd3939
        ls -al 
        cd ../../..
        pwd
        mkdir build && cd build
        make --version
        #cmake -DCMAKE_TOOLCHAIN_FILE=rv32gc-toolchain.cmake -DRISCV_TOOLCHAIN_PREFIX=$RISCV_GCC_PREFIX -DCMAKE_INSTALL_PREFIX=../install ..

        #cmake  -DCMAKE_CXX_COMPILER=g++ -DCMAKE_C_COMPILER=gcc -DCMAKE_TOOLCHAIN_FILE=/home/runner/work/etiss_wysiwyng/etiss_wysiwyng/etiss_riscv_examples/rv32gc-llvm-toolchain.cmake -DRISCV_TOOLCHAIN_PREFIX=/home/runner/work/etiss_wysiwyng/etiss_wysiwyng/gnu -DCMAKE_INSTALL_PREFIX=../install ..
        cmake -DCMAKE_TOOLCHAIN_FILE=/home/runner/work/etiss_wysiwyng/etiss_wysiwyng/etiss_riscv_examples_s4emac/rv32gc-llvm-toolchain.cmake -DCMAKE_INSTALL_PREFIX=$(pwd)/install -DRISCV_ARCH=$ARCH -DRISCV_ABI=$ABI -DRISCV_TOOLCHAIN_PREFIX=$RISCV_GCC_PREFIX -DRISCV_TOOLCHAIN_BASENAME=$RISCV_GCC_NAME ..
        make -j$(nproc) install    
        make install
    - name: Run ETISS Default Configuration Test
      run: |
        echo "Finished"
        pwd
        ls -al etiss_riscv_examples_s4emac/install/ini/
        etiss_prebuilt/bin/bare_etiss_processor -i etiss_riscv_examples_s4emac/install/ini/hello_world.ini
    needs: build-etiss
